@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400;1,600&display=swap');

:root{
  --primary:#242424;
  --secondary:#008abc;
  --primarylight:#464646 ;
  --secondarylight:#00adec;
  --primarydark:#151515 ;
  --secondarydark:#006c93;
  --primarytext:white;
  --secondarytext:black;
}
*{
  font-family: 'Poppins', sans-serif;
}
body,html {
  margin: 0px;
}
a{
  text-decoration: none;
}
input,textarea{
  border:none;
  outline: none;
}
button{
  border: none;
}
.page
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textfields
{
  display: flex;
  margin: auto;
  padding: 25px;
  flex-direction: row;
  justify-content: center;
}

.Note-holder
{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid;
  height: fit-content;
  width: fit-content;
  max-width: 350px;
}

.Form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: auto;
  border: 1px solid #2499fd;
  border-radius: 21px;
  padding: 48px;  
}
.Submit-button
{
  background-color: #2499fd;
  color: white;
  border-radius: 15px;
}

